In [1]:
from pathlib import Path
import pandas as pd

data_dir = Path("evaluation")

In [3]:
quasi = pd.read_json(data_dir / "quasi.json")
quasi_naive = pd.read_json(data_dir / "quasi-naive.json")

pd.merge(quasi[['dataset', 'solution_size', 'runtime_ms']], quasi_naive[['dataset', 'solution_size', 'runtime_ms']], on='dataset', suffixes=['', '_naive'])

,dataset,solution_size,runtime_ms,solution_size_naive,runtime_ms_naive
0,dataset/realworld/graph_ia-infect-dublin,16,0.226,16,0.060
1,dataset/realworld/graph_ia-enron-only,8,0.079,8,0.019
2,dataset/realworld/graph_scc_rt_lolgop,43,0.371,43,0.142
3,dataset/realworld/graph_scc_rt_qatif,3,0.003,3,0.002
4,dataset/realworld/graph_ca-GrQc,46,1.079,46,0.302
...,...,...,...,...,...
134,dataset/realworld/graph_ca-hollywood-2009,2209,6945.818,2209,3589.193
135,dataset/realworld/graph_socfb-B-anon,29,6145.606,15,476.740
136,dataset/realworld/graph_inf-road-usa,4,2560.409,3,1027.214
137,dataset/realworld/graph_socfb-uci-uni,6,12774.641,5,4959.713
138,dataset/realworld/graph_soc-orkut,78,21750.930,31,2324.176